<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/baseEstilo.css">
    <link rel="stylesheet" href="/stylesheets/estiloAssinante.css">
    <!-- <link rel="stylesheet" href="/stylesheets/estiloPlanos.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/estiloHeaderFooter.css"> -->
    <title>Barba,Cabelo e Bigode</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;400;700;900&family=Staatliches&display=swap"
        rel="stylesheet">
</head>

<body>

    <%- include('./partials/header')%>
        <main>

            <h2 class="note ak-black">BEM-VINDO,<span class="light ak-black">
                    <%= userLogged.nome %> !
                </span></h2>
            <section id="dados">
                <div id="imgU">
                    <img src="<%= userLogged.imagem %>" id="imgUser">
                    <% if(typeof errors !=='undefined' ){%>
                        <ul>
                            <% for(let error in errors){ %>
                                <li>
                                    <b>
                                        <%= error %> :
                                    </b>
                                    <%= errors[error].msg %>
                                </li>
                                <% } %>
                        </ul>
                        <% } %>
                            <form id="formImg" action="/foto" method="POST" enctype="multipart/form-data">
                                <input type="file" id="userImage" name="userImage">
                                <button id="carregarFoto">Alterar Foto</button>
                            </form>
                </div>
                <form class=form1 id="form1" action="/assinante" method="POST">
                    <div class="infos">
                        <label>Nome</label>
                        <input type="text" id="nome" name="nome" required value="<%= userLogged.nome %>" disabled>
                    </div>
                    <div class="infos">
                        <label>Email</label>
                        <input type="email" id="email" name="email" required value="<%= userLogged.email %>" disabled>
                    </div>
                    <!--  <div class = "infos">
                            <label>Nome</label>
                            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
                        </div>-->
                    <div class="infos">
                        <label>CPF</label>
                        <input type="number" id="cpf" name="cpf" required value="<%= userLogged.cpf %>" disabled>
                    </div>
                    <div class="infos">
                        <label>Data de nascimento</label>
                        <input class=date type="date" id="nascimento" name="nascimento"
                            value="<%= userLogged.data_nasc %>" disabled>
                    </div>
                    <div class="infos">
                        <label>Telefone</label>
                        <input type="tel" id="telefone" name="telefone" value="<%= userLogged.telefone %>" disabled>
                    </div>
                    <div class="infos">
                        <label>Endereço</label>
                        <input type="text" id="endereco" name="endereco" value="<%=userLogged.endereco %>" disabled>
                    </div>
                    <div class="infos">
                        <label for="genero">Gênero</label>
                        <div>
                            <input type="radio" name="genero" id="masculino" value="masculino" <% if
                                (userLogged.sexo==='masculino' ) { %> checked <% } %> disabled ><label
                                    form="masculino">Masculino</label>
                        </div>
                        <div>
                            <input type="radio" name="genero" id="feminino" value="feminino" <% if
                                (userLogged.sexo==='feminino' ) { %> checked <% } %> disabled ><label
                                    form="feminino">Feminino</label>
                        </div>
                        <div>
                            <input type="radio" name="genero" id="outros" value="outros" <% if
                                (userLogged.sexo==='outros' ) { %>
                            checked <% } %> disabled ><label form="outros">Outros</label>
                        </div>
                        <div>
                            <input type="radio" name="genero" id="nao informado" value="nao informado" <% if
                                (userLogged.sexo==='nao informado' ) { %> checked <% } %> disabled ><label
                                    form="nao informado">Prefiro não informar</label>
                        </div>
                    </div>
                    <section class="butons">
                        <div id="alterar">Alterar</div>
                        <div id="cancelar" onclick="cancelar()">Cancelar</div>
                    <!--  <button id="senha">Alterar Senha</button> -->  
                        <button id="salvar">Salvar</button>
                    </section>
                </form>

                <% if(assinaturaUser.idAssinaturas !=undefined) { %>
                    <section class="planosIndex">
                        <section class="cardsPlanos">
                            <article class="card">
                                <div class="imgPlano"><img src="<%= listaPlanosUser.imagem %>" class="imgCard"></div>
                                <div class="conteudoCard">
                                    <div class="categoria">
                                        <%=listaPlanosUser.nome%>
                                    </div>
                                    <h2 class="preco">R$<%=listaPlanosUser.preco%>,00</h2>
                                    <p class="descPlanos">
                                        <%=listaPlanosUser.barba %> barba<% if (listaPlanosUser.barba> 1) {%>s<%}%>
                                    </p>
                                    <p>por mês</p>
                                    <p class="descPlanos">
                                        <%=listaPlanosUser.cabelo %> corte<% if (listaPlanosUser.cabelo> 1) {%>s<%}%> de
                                                    cabelo
                                    </p>
                                    <p>por mês</p>
                                </div>
                                <div class="seuplano">SUA ASSINATURA</div>
                            </article>
                        </section>
                    </section>
                    <%}%>
            </section>
            <% if(assinaturaUser.idAssinaturas !=undefined) { %>
                <nav class="historico">
                    <h2 class="ak-black">SEU HISTÓRICO </h2>
                    <section class="dados">
                            <article class="info">
                                <h2 class="white ak-black">
                                    <%=assinaturaUser.cabelo%> VEZ<% if(assinaturaUser.cabelo>1){%>ES<%}%>
                                </h2>
                                <p>É o número total de cortes de cabelo desde a compra do plano</p>
                            </article>
                            <article class="info">
                                <h2 class="white ak-black">
                                    <%=assinaturaUser.barba %> VEZ<% if(assinaturaUser.barba>1){%>ES<%}%>
                                </h2>
                                <p>É o número total de barbas feitas desde a compra do plano</p>
                            </article>
                            <article class="info">
                                <h2 class="white ak-black">
                                    <%let total = assinaturaUser.barba + assinaturaUser.cabelo %>
                                    <%=total%> VEZ<% if(total >1){%>ES<%}%>
                                </h2>
                                <p>É o número total que você usou o plano</p>
                            </article>
                    </section>
                </nav>
                <% } %>
                    <nav class="sessaoPlanos">
                        <div class="frases">
                            <h2 class="dark ak-black">QUER DAR UM UPGRADE NO SEU PLANO?</h2>
                            <p>Aproveite e dê um upgrade no seu plano e tenha mais ofertas dos nossos serviços. Ao
                                escolher
                                um novo plano
                                você poderá utilizá-lo em até 24 horas. Não perca tempo e vamos fazer mais esse trato.
                                Nós,
                                No Fio do Bigode
                                aguardamos você!!
                            </p>
                        </div>
                        <section class="cardsPlanos">
                            <%console.log(listaPlanosUser.idPlanos)%>
                                <% for (let i=listaPlanosUser.idPlanos; i<listaPlanos.length; i++) { %>
                                    <article class="cardP">
                                        <div class="categoriaPlano">
                                            <p>
                                                <%= listaPlanos[i].nome %>
                                            </p>
                                        </div>
                                        <% if (listaPlanos[i].nome=='BASIC' ) {%>
                                            <div class="categoriaEcon">POPULAR</div>
                                            <% } %>
                                                <ul>
                                                    <li class="descPlanos">
                                                        <%= listaPlanos[i].cabelo%> corte<% if (listaPlanos[i].cabelo>
                                                                1)
                                                                {%>s<%}%> de
                                                                    cabelo<span class="descTempo"> no mês</span>
                                                    </li>
                                                    <li class="descPlanos">
                                                        <%= listaPlanos[i].barba%> barba<% if (listaPlanos[i].cabelo>
                                                                1)
                                                                {%>s<%}%><span class="descTempo"> no mês</span>
                                                    </li>
                                                    <% for( let vantagem of listaPlanos[i].vantagens) { %>
                                                        <li class="descPlanos">
                                                            <%=vantagem.nome%>
                                                        </li>
                                                        <% } %>
                                                </ul>
                                                <div class="precoButon">
                                                    <h2 class="preco">R$<%= listaPlanos[i].preco %>,00 </h2>

                                                    <button class="btnComecar">
                                                        <p>COMPRAR</p>
                                                        <p>ESTE PLANO</p>
                                                    </button>
                                                    <div class="economia">
                                                        <p>ADQUIRA ESTE PLANO E</p>
                                                        <p>ECONOMIZE ATÉ R$<%=listaPlanos[i].economia %> POR</p>
                                                        <p>CORTE E BARBA</p>
                                                    </div>
                                                </div>
                                    </article>
                                    <% } %>
                                        <!-- <article class="cardP">
                    <div class="categoriaPlano">
                        <p>STANDARD</p>
                    </div>
                    <ul>
                        <li class="descPlanos">2 barbas</li>
                        <p class="descTempo">por mês</p>
                        <li class="descPlanos">2 cortes de cabelo</li>
                        <p class="descTempo">por mês</p>
                    </ul>
                    <h2 class="preco">R$65,00</h2>
                    <button class="btnComecar">
                        <p>COMPRAR</p>
                        <p>ESTE PLANO</p>
                    </button>
                    <div class="economia">
                        <p>ADIQUIRA ESTE PLANO E</p>
                        <p>ECONOMIZE ATÉ R$25 POR</p>
                        <p>CORTE E BARBA</p>
                    </div>
                </article> -->

                                        <!-- <article class="cardP">
                    <div class="categoriaPlano">
                        <p>PREMIUM</p>
                    </div>
                    <ul>
                        <li class="descPlanos">2 barbas</li>
                        <p class="descTempo">por mês</p>
                        <li class="descPlanos">3 cortes de cabelo</li>
                        <p class="descTempo">por mês</p>

                    </ul>
                    <h2 class="preco">R$80,00</h2>
                    <button class="btnComecar">
                        <p>COMPRAR</p>
                        <p>ESTE PLANO</p>
                    </button>
                    <div class="economia">
                        <p>ADIQUIRA ESTE PLANO E</p>
                        <p>ECONOMIZE ATÉ R$30 POR</p>
                        <p>CORTE E BARBA</p>
                    </div>
                </article> -->
                        </section>
                    </nav>
        </main>
        <%- include('./partials/footer')%>

            <script src="../js/assinante.js">
            </script>


</body>

</html>