<link rel="stylesheet" href="stylesheets/estiloAssinante.css">
<link rel="stylesheet" href="stylesheets/estiloPlanos.css">
<%- include('./partials/header')%>


        <h2 class="mob ak-black">BEM-VINDO,<br><span class="light ak-black"> FULANO DE TAL!</span></h2>
        <h2 class="note ak-black">BEM-VINDO,<span class="light ak-black"> FULANO DE TAL!</span></h2>
        <p class="ak-bold">Aqui você poderá acompanhar o seu plano e ver quantas as vezes você utilizou nossos serviços. E saiba que em cada um deles foi sempre um prazer em recebê-lo, porque aqui No Fio do Bigode o trato é você sair estiloso e sempre satisfeito.
        </p>
        <nav class="uso-servico">
            <div class="frases">
                <h2 class="ak-black">ACOMPANHE O <br>SEU USO NO MÊS</h2>
                <p>Veja aqui o histórico de utilização dos nossos serviços no último mês.</p>
            </div>
            <section class="cortes"> 
                <% for (let data in usuario[0].mes) { %> 
                    <article class="light">
                        <h2 class="ak-black">VOCÊ FEZ <%=data.toUpperCase() %>  </h2> 
                        <h2 class="dark ak-black"> <%=usuario[0].mes[data] %> VEZ<% if(usuario[0].mes[data]>1){%>ES<%}%> </h2>
                    </article>
                <% } %> 

            </section>
        </nav>
        <nav class="historico">
            <h2 class="ak-black">SEU HISTÓRICO </h2>
            <section class="dados">
                <% for (let data in usuario[0].total) { %> 
                <article class="info">
                    <h2 class="white ak-black"><%=usuario[0].total[data] %> VEZ<% if(usuario[0].total[data]>1){%>ES<%}%></h2>
                    <p>É o número total de cortes de <%=data%>  desde a compra do plano</p>
                </article>
                <% } %> 
                <!-- <article class="info">
                    <h2 class="white ak-black">X VEZES</h2>
                    <p>É o número total de cortes de cabelo desde a compra do plano</p>
                </article> -->
                 <article class="info">
                    <h2 class="white ak-black"><%= usuario[0].barbearia %></h2>
                    <p>É a barbearia de sua preferência</p>
                </article>
            </section>
        </nav>
        <nav class="secaoPlanos">
            <div class="frases">
                <h2 class="dark ak-black">QUER DAR UM UPGRADE NO SEU PLANO?</h2>
                <p>Aproveite e dê um upgrade no seu plano e tenha mais ofertas dos nossos serviços. Ao escolher um novo plano você poderá utilizá-lo em até 24 horas. Não perca tempo e vamos fazer mais esse trato. Nós, No Fio do Bigode aguardamos você!!
                </p>
            </div>
            <section class="cardsPlanos">
                <% const index = listaplanos.findIndex(object=>object.nome===usuario[0].plano) %> 
                <% for (let i = index+1; i< listaplanos.length; i++) { %> 
                    <article class="cardP">
                        <div class="categoriaPlano"><p><%= listaplanos[i].nome %> </p></div>
                        <% if (listaplanos[i].nome == 'BASIC') {%> <div class="categoriaEcon">POPULAR</div> <% } %> 
                        <ul>
                            <li class="descPlanos"><%= listaplanos[i].cabelos%> corte<% if (listaplanos[i].cabelos > 1) {%>s<%}%> de cabelo<span class="descTempo"> no mês</span></li>
                            <li class="descPlanos"><%= listaplanos[i].barbas%> barba<% if (listaplanos[i].cabelos > 1) {%>s<%}%><span class="descTempo"> no mês</span></li>
                            <% for( let vantagem of listaplanos[i].vantagens) { %>
                                <li class="descPlanos"><%= vantagem %> </li>
                            <% } %>
                        </ul>
                        <h2 class="preco"><%= listaplanos[i].preco %> </h2>
    
                        <button class="btnComecar"><p>COMPRAR</p><p>ESTE PLANO</p></button>
                        <div class="economia"><p>ADQUIRA ESTE PLANO E</p> <p>ECONOMIZE ATÉ R$<%=listaplanos[i].economia %> POR</p> <p>CORTE E BARBA</p></div>
                    </article>
                    <% } %> 
                <!-- <article class="cardP">
                    <div class="categoriaPlano">
                        <p>STANDARD</p>
                    </div>
                    <ul>
                        <li class="descPlanos">2 barbas</li>
                        <p class="descTempo">por mês</p>
                        <li class="descPlanos">2 cortes de cabelo</li>
                        <p class="descTempo">por mês</p>
                    </ul>
                    <h2 class="preco">R$65,00</h2>
                    <button class="btnComecar">
                        <p>COMPRAR</p>
                        <p>ESTE PLANO</p>
                    </button>
                    <div class="economia">
                        <p>ADIQUIRA ESTE PLANO E</p>
                        <p>ECONOMIZE ATÉ R$25 POR</p>
                        <p>CORTE E BARBA</p>
                    </div>
                </article> -->

                <!-- <article class="cardP">
                    <div class="categoriaPlano">
                        <p>PREMIUM</p>
                    </div>
                    <ul>
                        <li class="descPlanos">2 barbas</li>
                        <p class="descTempo">por mês</p>
                        <li class="descPlanos">3 cortes de cabelo</li>
                        <p class="descTempo">por mês</p>

                    </ul>
                    <h2 class="preco">R$80,00</h2>
                    <button class="btnComecar">
                        <p>COMPRAR</p>
                        <p>ESTE PLANO</p>
                    </button>
                    <div class="economia">
                        <p>ADIQUIRA ESTE PLANO E</p>
                        <p>ECONOMIZE ATÉ R$30 POR</p>
                        <p>CORTE E BARBA</p>
                    </div>
                </article> -->
            </section>
        </nav>
<%- include('./partials/footer')%>

</body>

</html>