<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/baseEstilo.css">
    <link rel="stylesheet" href="/stylesheets/estiloAssinante.css">
    <!-- <link rel="stylesheet" href="/stylesheets/estiloPlanos.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/estiloHeaderFooter.css"> -->
    <title>Barba,Cabelo e Bigode</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;400;700;900&family=Staatliches&display=swap"
        rel="stylesheet">
</head>

<body>

    <%- include('./partials/header')%>
        <main>
            <% if(sessionUser) {%> 
                <div class="alert alert-success .alert-dismissible fade show m-2" role="alert">
                    <button type="button" class="close mt-0" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="alert-heading">Bem-vindo ao clube no Fio do Bigode!</h4>
                    <p>Aêêê! Você adquiriu o plano <strong><%=listaPlanosUser.nome%></strong>. Agora é só entrar em contato com uma de nossas <a href="./barbearias" class="alert-link">barbearias parceiras </a> e aproveitar essa experiênica incrível. Escolha o serviço desejado e mantenha sua beleza em dia.</p>
                    <p>Não se preocupe que nós que controlamos pra você quantas vezes você usou os serviços disponíveis </p>
                    <!-- <hr> -->
                    <!-- <p class="mb-0">Sempre que precisar, use utilitários de margem para manter as coisas perfeitas.</p> -->
                </div>
            <% } %> 
            <% if(sessionAtiva == 'ja possui') {%> 
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <strong>Você já possui uma assinatura ativa.</strong> Caso queira fazer um upgrade, escolha um plano <strong>superior</strong> ao seu na pagina <a href="./planos" class="alert-link">de planos</a>.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
            <% } %> 
            <h2 class="note ak-black">BEM-VINDO,<span class="light ak-black">
                    <%= userLogged.nome %> !
                </span></h2>
            <section id="dados">
                <div id="imgU">
                    <img src="<%= userLogged.imagem %>" id="imgUser">
                    <% if(typeof errors !=='undefined' ){%>
                        <ul>
                            <% for(let error in errors){ %>
                                <li>
                                    <b>
                                        <%= error %> :
                                    </b>
                                    <%= errors[error].msg %>
                                </li>
                                <% } %>
                        </ul>
                        <% } %>
                            <form id="formImg" action="/foto/<%=userLogged.idPessoas%>?_method=PUT" method="POST"
                                enctype="multipart/form-data">
                                <input type="file" id="userImage" name="userImage" accept="image/png,image/jpeg">
                                <button id="carregarFoto">Alterar Foto</button>
                            </form>
                </div>
                <form class= 'form1' id="form1" action="/assinante/<%=userLogged.idPessoas%>?_method=PUT" method="POST">
                    <div class="infos">
                        <label>Nome</label>
                        <input type="text" id="nome" name="nome" required value="<%= userLogged.nome %>" disabled>
                    </div>
                    <div class="infos">
                        <label>Email</label>
                        <input type="email" id="email" name="email" required value="<%= userLogged.email %>" disabled>
                    </div>
                    <!--  <div class = "infos">
                            <label>Nome</label>
                            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
                        </div>-->
                    <div class="infos">
                        <label>CPF</label>
                        <input type="number" id="cpf" name="cpf" required value="<%= userLogged.cpf %>" disabled>
                    </div>
                    <div class="infos">
                        <label>Data de nascimento</label>
                        <input class='date' type="date" id="nascimento" name="nascimento"
                            value="<%= userLogged.data_nasc %>" disabled>
                    </div>
                    <div class="infos">
                        <label>Telefone</label>
                        <input type="tel" id="telefone" name="telefone" value="<%= userLogged.telefone %>" disabled>
                    </div>
                    <div class="infos">
                        <label>Endereço</label>
                        <input type="text" id="endereco" name="endereco" value="<%=userLogged.endereco %>" disabled>
                    </div>
                    <div class="infos">
                        <label for="genero">Gênero</label>
                        <div>
                            <input type="radio" name="genero" id="masculino" value="masculino" <% if
                                (userLogged.sexo==='masculino' ) { %> checked <% } %> disabled ><label
                                    form="masculino">Masculino</label>
                        </div>
                        <div>
                            <input type="radio" name="genero" id="feminino" value="feminino" <% if
                                (userLogged.sexo==='feminino' ) { %> checked <% } %> disabled ><label
                                    form="feminino">Feminino</label>
                        </div>
                        <div>
                            <input type="radio" name="genero" id="outros" value="outros" <% if
                                (userLogged.sexo==='outros' ) { %>
                            checked <% } %> disabled ><label form="outros">Outros</label>
                        </div>
                        <div>
                            <input type="radio" name="genero" id="nao informado" value="nao informado" <% if
                                (userLogged.sexo==='nao informado' ) { %> checked <% } %> disabled ><label
                                    form="nao informado">Prefiro não informar</label>
                        </div>
                    </div>
                    <section class="butons">
                        <div id="alterar">Alterar</div>
                        <div id="cancelar" onclick="cancelar()">Cancelar</div>
                        <!--  <button id="senha">Alterar Senha</button> -->
                        <button id="salvar">Salvar</button>
                    </section>
                </form>

                <% if(assinaturaUser !=undefined) { %>
                    <section class="planosIndex">
                        <section class="cardsPlanos">
                            <article class="card">
                                <div class="imgPlano"><img src="<%= listaPlanosUser.imagem %>" class="imgCard"></div>
                                <div class="conteudoCard">
                                    <div class="categoria">
                                        <%=listaPlanosUser.nome%>
                                    </div>
                                    <h2 class="preco">R$<%=listaPlanosUser.preco%>,00</h2>
                                    <p class="descPlanos">
                                        <%=listaPlanosUser.barba %> barba<% if (listaPlanosUser.barba> 1) {%>s<%}%>
                                    </p>
                                    <p>por mês</p>
                                    <p class="descPlanos">
                                        <%=listaPlanosUser.cabelo %> corte<% if (listaPlanosUser.cabelo> 1) {%>s<%}%> de
                                                    cabelo
                                    </p>
                                    <p>por mês</p>
                                </div>
                                <div class="seuplano">SUA ASSINATURA</div>
                            </article>
                        </section>
                    </section>
                    <%}%>
            </section>
            <% if(assinaturaUser !=undefined) { %>
                <nav class="historico">
                    <h2 class="ak-black">SEU HISTÓRICO </h2>
                    <section class="dados">
                        <article class="info">
                            <h2 class="white ak-black">
                                <%=assinaturaUser.cabelo%> VEZ<% if(assinaturaUser.cabelo>1){%>ES<%}%>
                            </h2>
                            <p>É o número total de cortes de cabelo desde a compra do plano</p>
                        </article>
                        <article class="info">
                            <h2 class="white ak-black">
                                <%=assinaturaUser.barba %> VEZ<% if(assinaturaUser.barba>1){%>ES<%}%>
                            </h2>
                            <p>É o número total de barbas feitas desde a compra do plano</p>
                        </article>
                        <article class="info">
                            <h2 class="white ak-black">
                                <%let total=assinaturaUser.barba + assinaturaUser.cabelo %>
                                    <%=total%> VEZ<% if(total>1){%>ES<%}%>
                            </h2>
                            <p>É o número total que você usou o plano</p>
                        </article>
                    </section>
                </nav>
                <% } %>
                <% if(assinaturaUser==undefined) { assinaturaUser={fk_planos: 0}} %>
                <% if(assinaturaUser.fk_planos != listaPlanos.length) { %>
                    <nav class="sessaoPlanos">
                        <div class="frases">
                            <% if (assinaturaUser.fk_planos != 0 ) { %>
                                <h2 class="dark ak-black">QUER DAR UM UPGRADE NO SEU PLANO?</h2>
                                <%}%>
                                    <p>Tenha mais ofertas dos nossos serviços.
                                        Ao
                                        escolher
                                        um novo plano
                                        você poderá utilizá-lo em até 24 horas. Não perca tempo e vamos fazer mais esse
                                        trato.
                                        Nós,
                                        No Fio do Bigode
                                        aguardamos você!!
                                    </p>
                        </div>
                        <section class="cardsPlanos">
                            <% if(assinaturaUser.fk_planos == 0) { listaPlanosUser={idPlanos: 0}} %>
                                <% for (let i=listaPlanosUser.idPlanos; i<listaPlanos.length; i++) { %>

                                    <article class="cardP">
                                        <div class="categoriaPlano">
                                            <p>
                                                <%= listaPlanos[i].nome %>
                                            </p>
                                        </div>
                                        <% if (listaPlanos[i].nome=='BASIC' ) {%>
                                            <div class="categoriaEcon">POPULAR</div>
                                            <% } %>
                                                <ul>
                                                    <li class="descPlanos">
                                                        <%= listaPlanos[i].cabelo%> corte<% if (listaPlanos[i].cabelo>
                                                                1)
                                                                {%>s<%}%> de
                                                                    cabelo<span class="descTempo"> no mês</span>
                                                    </li>
                                                    <li class="descPlanos">
                                                        <%= listaPlanos[i].barba%> barba<% if (listaPlanos[i].cabelo>
                                                                1)
                                                                {%>s<%}%><span class="descTempo"> no mês</span>
                                                    </li>
                                                    <% for( let vantagem of listaPlanos[i].vantagens) { %>
                                                        <li class="descPlanos">
                                                            <%=vantagem.nome%>
                                                        </li>
                                                        <% } %>
                                                </ul>
                                                <div class="precoButon">
                                                    <h2 class="preco">R$<%= listaPlanos[i].preco %>,00 </h2>

                                                    <a href="pagamento/<%=listaPlanos[i].idPlanos%>"><button class="btnComecar">
                                                        <p>COMPRAR</p>
                                                        <p>ESTE PLANO</p>
                                                    </button></a>
                                                    <div class="economia">
                                                        <p>ADQUIRA ESTE PLANO E</p>
                                                        <p>ECONOMIZE ATÉ R$<%=listaPlanos[i].economia %> POR</p>
                                                        <p>CORTE E BARBA</p>
                                                    </div>
                                                </div>
                                    </article>
                                    <% } %>

                        </section>
                    </nav>
                    <% } %>
        </main>
        <%- include('./partials/footer')%>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <script src="../js/assinante.js"></script>


</body>

</html>