<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/estiloCarrinho.css">
    <link rel="stylesheet" href="/stylesheets/estiloHeaderFooter.css">
    <title>Barba,Cabelo e Bigode</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

<%- include('./partials/header') %>
<main>
    <%if(codPlano != undefined  && codPlano < listaplanos.length ){ %>   
        <section class="flex-container">
            <h2 class="white ak-black">VOCÊ ESCOLHEU O <br> PLANO <span class="brown-light ak-black"><%= listaplanos[codPlano].nome  %></span></h2>
            <p class="white ak-bold">Você está escolhendo economizar. Fazer um dos nossos planos garantem economia no final do mês. Quando maior o plano, mais você economiza. Escolha os planos de acordo com sua necessidade e faça as contas! </p>
             
            <section class="secaoPlanoEscolhido">
                <form class="cardsPlanos">

                    <article class="categoriaPlano">
                            <div class="radio">
                    
                                
                                <input type="radio" name="categoriaP" id="basic" value="basic" checked><label for="basic" class="caixinha"></label><label for="basic" class="categoria"><%= listaplanos[codPlano].nome  %></label>
                              
                            </div>
                            <div class="descricao">
                                <div class="ladoDir">
                                    <p class="descPlanos"><%= listaplanos[codPlano].barbas %> barba<%if(listaplanos[codPlano].barbas > 1) {%>s<%}%> </p>
                                    <p>por mês</p>
                                </div>
                                <div class="ladoEsq">
                                    <p class="descPlanos"> <%= listaplanos[codPlano].cabelos %> corte<%if(listaplanos[codPlano].barbas > 1) {%>s<%}%> de cabelo</p>
                                    <p>por mês</p>
                                </div>
                            </div>
                            <h2 class="preco">R$<%= listaplanos[codPlano].preco %>,00</h2>
                     </article>

                     <%let planoup = parseInt(codPlano) + 1 %>

                    <% if (planoup >= listaplanos.length ) planoup = 'desabilitar' %>
                    
                     <p class="oferta"  <% if (planoup === 'desabilitar') { %> style="display: none"  <% } %> >
                        Por mais R$<%=listaplanos[planoup].preco - listaplanos[codPlano].preco  %>,00  você pode
                    </p>
                    <p class="oferta" <% if (planoup === 'desabilitar') { %> style="display: none"  <% } %>  >
                        fazer upgrade do plano
                    </p>
                 

                     <article class="categoriaPlanoUp" <% if (planoup === 'desabilitar') { %> style="display: none"  <% } %> >
                        <div class="radio">
                            <% if (planoup === 'desabilitar') { planoup = 0 } %>
                            <input type="radio" name="categoriaP" id="basic" value="basic"><label for="basic" class="caixinha"></label><label for="basic" class="categoria">
                                <% if (planoup != 'desabilitar') { %> <%= listaplanos[planoup].nome %> <%}%> </label>
                        </div>
                        <div class="descricao">
                            <div class="ladoDir">
                                <p class="descPlanos"><%= listaplanos[planoup].barbas %> barbas</p>
                                <p>por mês</p>
                            </div>
                            <div class="ladoEsq">
                                <p class="descPlanos"> <%= listaplanos[planoup].cabelos %> cortes de cabelo</p>
                                <p>por mês</p>
                            </div>
                        </div>
                        <h2 class="preco">R$<%= listaplanos[planoup].preco %>,00</h2>
                    </article>
                    <a href="/pagamento"><button class="btnComecar">Realizar pagamento</button></a>
                </form>

            </section>
        </section>

        <section class="ladoEsqCarrinho">
                <article class="finalizarPag">
                    <p>Valor do plano <span>R$<%= listaplanos[codPlano].preco %>,00</span></p>
                    <p>Taxa de adesão  <span>R$0,00</span></p>
                    <a href="/pagamento"><button class="btnComecar">Realizar pagamento</button></a>
                </article>

        </section>
        <% } else {%>
            <h2 class="white ak-black">Seu carrinho está <span class="brown-light ak-black">Vazio</span><br> Volte para seção <a href="planos" class="brown-light ak-black">Planos</a> e escolha o seu plano. </h2>
            
            
        <% }%>
    </main>
            <%- include('./partials/footer') %>

</body>
