<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/estiloPagamento.css">
    <link rel="stylesheet" href="/stylesheets/estiloHeaderFooter.css">
    <title>Barba,Cabelo e Bigode</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
<%- include('./partials/header') %>

<h2 class="finalizeCompra">FINALIZE A SUA COMPRA E COMECE A UTILIZAR O PLANO EM 24H</h2>
<p class="descricao">Agora que já escolheu o seu plano siga os próximos passos e finalize o quanto antes o seu pagamento e daqui 24 começa a usufruir dos melhores serviços de cuidados estéticos. Nós do No Fio do Bigode estamos aguardando você! Prossiga!</p>

<main>  
        <section class="pagamento">
            <h2 class="titulo">DADOS DE PAGAMENTO</h2>
            <article class="resumo">
                <h3 class="plano"> <%= dadosPlano.nome %> </h3>
                <span class="valor"><%= dadosPlano.preco %></span>
            </article>
            <form action="">
                <label for="duracao">Selecione o período:</label>
                <select name="duracao" id="duracao" required>
                    <option disable selected value></option>
                    <option value="m">Mensal</option>
                    <option value="t">Trimestral</option>
                    <option value="s">Semestral</option>
                    <option value="a">Anual</option>
                </select>
                <input type="number" id="cardnumber" name="cardnumber" placeholder="Numero do cartão" required>
                <input type="text" id="cardname" name="cardname" placeholder="Nome no cartão" required>
                <div class="carddata">
                    <div class="data">
                        <label for="validade">Data de Expiração</label>
                        <input type="date" id="validade" name="val" placeholder="MM/YY" required>
                    </div>
                    <div class="data">
                        <label for="safecode">Código de Segurança</label>
                        <input type="number" name="safecode" id="safecode" placeholder="CVV" required>
                    </div>
                </div>
                <div class="savecard">
                    <input type="checkbox" name="savecard" id="savecard">
                    <label for="savecard">Salvar este cartão para compras futuras</label>
                </div>
                </form>
            <div class="pix modopgto">
                <img src="/images/pix.png" alt="">
                <p>PIX</p>
                <img class="seta"  src="/images/Down.png" alt="">
            </div>
            <div class="boleto modopgto">
                <img src="/images/codigobarras.png" alt="">
                <p>BOLETO</p>
                <img class="seta" src="/images/Down.png" alt="">
            </div>
            <div class="total">
                <p>Total</p>
                <span>RS35,00</span>
            </div>
            <div class="finalizar">
                <a href="assinante"><button >FINALIZAR PEDIDO</button></a>
                <img src="/images/recaptcha.png" alt="">  
            </div>

        </section>    
        
       <section class="ladoEsq">
            <article class="finalizarPag">
                <p class="categoriaEscolhida">PLANO ESCOLHIDO</p>
                    <div class="radio">
                        <div class="planoEscolhido"><div class="caixinha"></div><p class="categoria">BASIC</p></div>
                    </div>
                    <div class="descricao">
                        <div class="ladoDir">
                            <p class="descPlanos">1 barba</p>
                            <p>por mês</p>
                            <p class="descPlanos"> 1 corte de cabelo</p>
                            <p>por mês</p>
                        </div>
                    </div>
                    <h2 class="preco">R$35,00</h2>
                    <p>por mês</p>
            </article>
        </section>
   

            
    </main>
        <%- include('./partials/perguntas') %>

        <%- include('./partials/footer')%>
    
</body>
</html>

            <!-- <section class="pagamento">
            <h2 class="titulo">DADOS DE PAGAMENTO</h2>
            <article class="resumo">
                <img src="img/qrcode.png" alt="">
                <div>
                    <h2 class="useqr">USE O QR CODE</h2>
                    <h2 class="parapagar">PARA PAGAR</h2>
                </div>
                <h4 class="nome">Fulano de tal</h4>
                <h6 class="email">email@google.com</h6>
                <h3 class="plano">Plano BASIC</h3>
                <span class="valor">R$ 130</span>
                <button disabled="imprimir">IMPRIMIR<br>BOLETO</button>
            </article>
        </section> -->